<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- CRITICAL FIX: Ensure this line is present and correct -->

<head th:replace="~{fragments/_header :: page_head('Update Movement')}"></head>

<body>
<div th:replace="~{fragments/_header :: navbar}"></div>

<div class="container my-4">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Update Movement</h3>
            <hr>
            <form action="#" th:action="@{/movement/update/{id}(id=${movement.id})}" th:object="${movement}" method="post">
                <div th:replace="~{fragments/_form :: form_fields}"></div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Update Movement</button>
                        <a th:href="@{/movement/all}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/_header :: footer}"></div>
</body>
</html>